
.slider-color{
    color: rgb(236, 24, 31);
}

.rating-icon{
    width: 40px;
    color: yellow;
}

/* footer  */
.footer-1{
 
  gap: 30px;
}

.footer-2{
    gap:20px ;
}

/* media query  */
@media screen and (max-width-576px)  {
    .footer-container{
        flex-direction: column;
        padding: 0;
        margin: 0;
    }
    
}